.button-blue {
  background-color: #398AB9;
  color: #FBFBFD;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 23px;
  font-family: "assistant";
  opacity: 0.9;
}

.button-blue:hover {
  background-color: #0E3EDA;
  transition: background-color 0.3s ease;
  text-decoration: underline;
}
