.container {
  width: 1100px;
  margin: 60px auto;
}

#main-text {
  margin: 60px 10px;
}

@media (max-width: 1150px) {
  .container {
    width: 800px;
  }
}
@media (max-width: 850px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 650px) {
  .container {
    width: 400px;
  }
}
