.list-inline {
  list-style: none;
  text-align: center;
}

.list-inline li {
  display: inline;
  padding:  10px;
}

.list-inline i {
  font-size: 55px;
  color: #398AB9;
}

.list-inline i:hover {
  color: #0E3EDA;
  opacity: 0.8;
  transition: background-color 0.3s ease;
}
